.container {
  display: flex;
  flex-direction: row;

  .postContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;

    .icon {
      width: 0.8rem;
      height: 0.8rem;
      color: var(--light-text-color);
      margin-right: 0.1rem;
    }

    .date {
      height: 1rem;
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      color: gray;
    }
  }

  .updateContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: right;
    margin-left: 0.5rem;

    .icon {
      width: 0.9rem;
      height: 0.9rem;
      color: var(--light-text-color);
      margin-right: 0.1rem;
    }

    .date {
      height: 1rem;
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      color: gray;
    }
  }
}